*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial,Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #231381;
    color: #e2ebe6;
    padding: 20px;
}
header{
    background-color: #a51d87;
    color: #f3edf2;
    padding:30px;
    text-align:center;
}
nav{ 
    background-color: #9b631a;
    text-align: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex end;
}
nav a{
    color: #f3edf2;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;

}
.banner{
    width: 60%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
ul{
    list-style-type: disc;
    margin-left: 50px;
    padding: 10px;
}
li{
    margin-bottom: 10px;
}
article{
    background-color: #693f08;
    padding: 20px;
    border-radius: 10px;
}
article:hover{
    background-color: #1e8c1a;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #120d0d;
}
td{
    padding: 10px;
    text-align: center;
}
table, th, td{
    border: 1px solid #f3edf2;
}
tr:hover{
    background-color: #f2f2f2;
}
ol{
    margin-left: 50px;
    padding: 10px;
}
ol li {
    margin-bottom: 10px;
}
form{
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input:not([type="submit"]):not([type="radio"]){
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
