!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact page</title>
</head>
<body>
    <header>
    <h1>ContactNRIIT Learning Management Sysytem</h1>
    <p>Learn Practice Get Placed</p>
    <nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/courses">Courses</a>
        <a href="login">Login</a>
        <a href="/register">Register</a>
        <a href="/trainers">Trainers</a>

    </header>
    <main>
        <h2>Student Registration</h2>
        <form id="registerform">
            <label>Full Name</label>
            <input type=""text" placeholder="Enter Your name" id="name"><br><br>
            <label>Email</label>
            <input type="email" placeholder="Enter Your Email" id="email"><br><br>
            <label>password</label>
            <input type=""password" placeholder="Enter Your Password"><br><br>
            <label>Date of Birth</label>
            <input type="date"><br><br>
            <label>Gender</label>
            <input type="radio" name="gender" value="male" id="male">male
            <input type="radio" name="gender" value="female" id="female">Female
            <br><br>
            <label>Select Course</label>
            <select id="course" name="course">
                <option value="python">Python Fullstack</option>
                <option value="java">Java Fullstack</option>
                <option value="data-science">DataScience</option>
            </select> 
            <br><br>
            <button type="Submit" >Register</button>
        </form>
                 
            </select>
        </form>
    </main>
    <footer>
                    <hr>
                    <p>&copy; 2026 NRIIT Learning Management System</p>
                    <p>Email: info@nriit.edu</p>
                    <p>phone: +8688005585</p>
                    <p>Follow Us:</p>
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">LinkedIn</a>
                <footer>



  sc<ript src=""js/script.js"></script>   
</body>
</html>